.box{
    margin: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
h1{
    flex-wrap: wrap;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    flex-shrink: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: rgb(205, 254, 254);
    color: black;
    font-size: 30px;
}
table thead tr th{
  border: 2px solid black;
  text-align: center;
}
.vitri{
    text-align: center;
    border: 2px solid black;
    font-size: 30px;
    width: 5%;
    font-weight: bold;
}
.diemdo{
    background-color: rgb(245, 71, 71);
    color: white;
    width: 5%;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
.diemxanh{
    background-color: rgb(84, 84, 235);
    color: white;
    width: 5%;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
.lichsu {
    width: 50%;
    height: 20px;
    border: 2px solid black;
    position: relative;
    
}
.lichsu::before {
    content: ''; 
    position: absolute; 
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: translateX(0%);
}
.lichsu-do {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: red;
}
.lichsu-xanh {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: blue;
}
.ketqua{
    width: 5%;
    height: 100px;
    border: 2px solid black;
    text-align: center;
}
.result-blue {
    background-image: linear-gradient(to right, rgb(253, 253, 253) 50%, rgb(84, 84, 235) 50%);
    color: white;
}

.result-red {
    background-image: linear-gradient(to right, rgb(245, 71, 71) 50%, rgb(253, 253, 253) 50%);
    color: white;
}

.result-draw {
    background-image: linear-gradient(to right, rgb(245, 71, 71) 50%, rgb(84, 84, 235) 50%);
    color: white;
}
.thaotac{
    width: 20%;
    height: 100px;
    border: 2px solid black;
}
.btn_xoa{
   margin-left: 5px;
}
.modal {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
.modal-content {
   background-color: white;
   max-width: 500px;
   position: relative;
   left: 50%;
   top: 20%;
   transform: translateX(-50%);
   padding: 20px;
}
.md{
    display: flex;
    gap: 170px;
}
.md p{
    font-size: 30px;
    font-weight: bold;
}
form button{
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
    margin-right: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.info{
    display: flex;
    gap: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.time{
    width: 200px;
    height: auto;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 100px;
    font-weight: bold;
}
.item-info-d h1{
    color: red;
}
.item-info-x h1{
    color: blue;
}
.tsd{
    color: red;
}
.tsx{
    color: blue;
}
